home/.config/nvim/plugin/
nvim/.config/nvim/.agent
gtk/.config/gtk-3.0/bookmarks
tmux/.tmux/plugins/*
!tmux/.tmux/plugins/tpm

tmux/.bin/*
!tmux/.bin/tmux-cht.sh
!tmux/.bin/tmux-new-project
!tmux/.bin/tmux-sessionizer
!tmux/.bin/tmux-windowizer
!tmux/.bin/tmux-worktreeizer

*.swp
.code-review
.ai-artifacts
__pycache__/

.DS_Store
