[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "clanker/skills"]
	path = clanker/skills
	url = git@github.com:daviskregers/skills.git
