ARCH=$(uname)

alias c="clear"
if [ $ARCH = "Linux" ]; then
	alias ls="ls --color=auto"
	alias l="ls -lah --color=auto"
fi
alias shdn="shutdown now"
alias dotupd="dotfiles_update"

# zsh
alias rcs="source ~/.zshrc"

# paths
alias c.="cd .."
alias dot="cd ~/.dotfiles"
alias pr="cd $PROJECTS"
alias obsidian='cd ~/Library/Mobile\ Documents/iCloud~md~obsidian/Documents/Obsidian/'

# git
alias ga="git add"
alias gs="git status"
alias gp="git push"
alias gpl="git push"
alias gd="git diff"
alias gc="git checkout"
alias gcm="git commit -m "
alias gconf="git conflicted"

# docker
alias dp="docker ps"
alias dcu="docker compose up"
alias dl="docker logs"
alias de="docker exec -it"
alias drf="docker rm -f"
alias "docker-compose"="echo LEARN TO USE NEW STUFF!"

function dkill() {
    docker kill $(docker ps -q)
}

function drm() {
    docker rm -f $(docker ps -qa)
}

function dipfix() {
    sudo sysctl -w net.ipv6.conf.all.disable_ipv6=1
    sudo sysctl -w net.ipv6.conf.default.disable_ipv6=1
}

# terraform
alias tf="terraform"
alias tfp="tf fmt && tf plan"

# archiving
alias dirgz="find * -maxdepth 0 -type d -exec tar czvf {}.tar.gz {} \;"
alias dirzip="find * -maxdepth 0 -type d -exec zip -r {}.zip {} \;"

# python
alias pipr="pip install -r requirements.txt"

# tmux
alias tmux='tmux -u'
alias ta='tmux attach -t'
alias tkss='tmux kill-session -t'
alias tksv='tmux kill-server'
alias tl='tmux list-sessions'
alias ts='tmux new-session -s'

alias wezcfg='nvim ~/.config/wezterm/wezterm.lua'

alias ans='tmuxp load -s ansible ~/.tmuxp/ansible.yaml'
if [[ -f ~/.tmuxp/alias ]]; then
  source ~/.tmuxp/alias
fi

# tilt
alias tud='tilt up && tilt down'

## UPDATE REMINDER

if [[ $ARCH != "Darwin" && $RUNNING_FROM_PROFILE != 1 ]]; then
  FILE=/opt/update-reminder/is-offline-updates-ready
  if test -f "$FILE"; then
    bash $FILE
    if [ $? -eq 0 ]; then
      echo "Updates required. Run 'upgrade-packages' to install."
    else
      echo "No updates found."
    fi
  fi
fi

