ARCH=$(uname)

alias c="clear"
alias ls="ls --color=auto"
alias l="ls -lah --color=auto"
alias shdn="shutdown now"
alias dotupd="dotfiles_update"
alias vim="nvim"

RED='\033[0;31m'
NC='\033[0m' # No Color

(
    cd ~/.dotfiles
    if [[ `(git status --porcelain)` ]]; then
        printf "${RED}-------------------------------------------------------------${NC}\n"
        printf "${RED}-------------------- UNCOMMITED DOTFILES --------------------${NC}\n"
        printf "${RED}-------------------------------------------------------------${NC}\n"
    fi
)

# zsh
alias rcs="source ~/.zshrc"

# paths
alias c.="cd .."
alias dot="homeshick cd dotfiles"
alias pr="cd $PROJECTS"
alias obsidian='cd ~/Library/Mobile\ Documents/iCloud~md~obsidian/Documents/Obsidian/'

# git
alias ga="git add"
alias gs="git status"
alias gp="git push"
alias gpa='for remote in $(git remote); do echo "📡 Pushing to remote: $remote" && git push $remote && echo "✅ Successfully pushed to $remote" || echo "❌ Failed to push to $remote"; done'
alias gpl="git push"
alias gd="git diff"
alias gc="git checkout"
alias gcm="git commit -m "
alias gconf="git conflicted"

# docker
alias dp="docker ps"
alias dcu="docker compose up"
alias dl="docker logs"
alias de="docker exec -it"
alias drf="docker rm -f"
alias "docker-compose"="echo LEARN TO USE NEW STUFF!"

function dkill() {
    docker kill $(docker ps -q)
}

function drm() {
    docker rm -f $(docker ps -qa)
}

function dipfix() {
    sudo sysctl -w net.ipv6.conf.all.disable_ipv6=1
    sudo sysctl -w net.ipv6.conf.default.disable_ipv6=1
}

# terraform
alias tf="terraform"
alias tfp="tf fmt && tf plan"

# archiving
alias dirgz="find * -maxdepth 0 -type d -exec tar czvf {}.tar.gz {} \;"
alias dirzip="find * -maxdepth 0 -type d -exec zip -r {}.zip {} \;"

# python
alias pipr="pip install -r requirements.txt"
alias conda="/opt/homebrew/anaconda3/bin/conda"

# tmux
tmux-window-name() {
    if [ -z "$TMUX_PLUGIN_MANAGER_PATH" ]; then
    else
        ($TMUX_PLUGIN_MANAGER_PATH/tmux-window-name/scripts/rename_session_windows.py &)
    fi
}

add-zsh-hook chpwd tmux-window-name

alias infra='tmuxp load ~/projects/tmuxp-layouts/infra.yaml'
alias tksv='tmux kill-server'

alias tmux='tmux -u'
alias ta='tmux attach -t'
alias tkss='tmux kill-session -t'
alias tksv='tmux kill-server'
alias tl='tmux list-sessions'
# alias ts='tmux new-session -s'
alias ts='~/.local/bin/tmux-sessionizer'

alias wezcfg='nvim ~/.config/wezterm/wezterm.lua'

alias ans='tmuxp load -s ansible ~/.tmuxp/ansible.yaml'
if [[ -f ~/.tmuxp/alias ]]; then
  source ~/.tmuxp/alias
fi

# tilt
alias tud='tilt up && tilt down'

# memory leak detection
vmrss() {
    p=$1
    if [[ -z $p ]]
    then
        p=$(pidof smth)
    fi

    echo "pid choosen: $p from $1 vs $(pidof smth)"
    while true
    do
        sync
        cat /proc/$p/status | grep --color=auto --exclude-dir={.bzr,CSV,.git,.hg,.svn,.idea,.tox} VmRSS | grep --color=auto --exclude-dir={.bzr,CSV,.git,.hg,.svn,.idea,.tox} -o '[0-9]\+' | awk '{print $1/1024 " MB"}'
        sleep 1
    done
}

## Screens


## Xorg presets
alias xtv="bash ~/.screenlayout/tv.sh"
alias xnorm="bash ~/.screenlayout/normal.sh"
